@import "../../components/styles/All.module.scss";

table.chessboard {
  display: inline-block;
  margin: 25px auto 0 auto;
  border-collapse: collapse;
  border-radius: var(--chessboard__board__radius);
  overflow: hidden;
  td {
    width: 10vmin;
    height: 10vmin;
    vertical-align: top;
    font-size: 2.5vmin;
    * {
      font-weight: bold;
    }
  }
  tr {
    &:nth-last-child(1) td {
      vertical-align: bottom;
    }
    &:nth-child(odd) td:nth-child(even) {
      background-color: var(--chessboard__field__black_color);
      color: var(--chessboard__field__white_color);
      &.chessboard__field__selected {
        background-color: var(--chessboard__field__selected_black_color);
        color: var(--chessboard__field__selected_white_color);
      }
      &.chessboard__field__silent_move {
        background-color: var(--chessboard__field__silent_move_black_color);
        color: var(--chessboard__field__silent_move_white_color);
      }
      &.chessboard__field__attack_move {
        background-color: var(--chessboard__field__attack_move_black_color);
        color: var(--chessboard__field__attack_move_white_color);
      }
    }
    &:nth-child(even) td:nth-child(odd) {
      background-color: var(--chessboard__field__black_color);
      color: var(--chessboard__field__white_color);
      &.chessboard__field__selected {
        background-color: var(--chessboard__field__selected_black_color);
        color: var(--chessboard__field__selected_white_color);
      }
      &.chessboard__field__silent_move {
        background-color: var(--chessboard__field__silent_move_black_color);
        color: var(--chessboard__field__silent_move_white_color);
      }
      &.chessboard__field__attack_move {
        background-color: var(--chessboard__field__attack_move_black_color);
        color: var(--chessboard__field__attack_move_white_color);
      }
    }
    td {
      background-color: var(--chessboard__field__white_color);
      color: var(--chessboard__field__black_color);
      &.chessboard__field__selected {
        background-color: var(--chessboard__field__selected_white_color);
        color: var(--chessboard__field__selected_black_color);
      }
      &.chessboard__field__silent_move {
        background-color: var(--chessboard__field__silent_move_white_color);
        color: var(--chessboard__field__silent_move_black_color);
      }
      &.chessboard__field__attack_move {
        background-color: var(--chessboard__field__attack_move_white_color);
        color: var(--chessboard__field__attack_move_black_color);
      }
    }
  }
}

.chessboard__black_pawn {
  background: url(../../static/images/black_pawn.png) center no-repeat;
  background-size: 8vmin;
  transition: background-size 0.1s;
}

.chessboard__white_pawn {
  background: url(../../static/images/white_pawn.png) center no-repeat;
  background-size: 8vmin;
  transition: background-size 0.1s;
}

.chessboard__black_queen {
  background: url(../../static/images/black_queen.png) center no-repeat;
  background-size: 8vmin;
  transition: background-size 0.1s;
}

.chessboard__white_queen {
  background: url(../../static/images/white_queen.png) center no-repeat;
  background-size: 8vmin;
  transition: background-size 0.1s;
}

.chessboard__selectable_field:hover {
  cursor: pointer;
  background-size: 8.4vmin;
}

.chessboard_text__align__left_top {
  display: block;
  margin-left: 0.52vmin;
  text-align: left;
  height: 3.02vmin;
  line-height: 3.02vmin;
}

.chessboard_text__a1_field__align {
  margin-top: calc(100% - 3.02vmin - 3.02vmin - 0.2vmin);
}

.chessboard_text__align__right_bottom {
  display: block;
  margin-right: 0.52vmin;
  margin-bottom: 0.2vmin;
  text-align: right;
  height: 3.02vmin;
  line-height: 3.02vmin;
}

.chessboard__interface {
  display: inline-flex;
  flex-flow: column;
  vertical-align: top;
  width: calc(100% - 80vmin - 25px);
  height: 80vmin;
  max-width: 80vmin;
  margin: 25px 0 0 25px;
}

.move_history {
  display: inline-flex;
  flex-flow: column;
  min-height: 250px;
  border: 2px solid var(--block__border__inactive_color);
  border-radius: var(--chessboard__board__radius);
  color: var(--block__description__selected_color);
  background-color: var(--move_history__background__color);
  transition: color 0.2s, border-color 0.2s;
  &:hover {
    color: var(--block__description__active_color);
    border-color: var(--block__border__selected_color);
  }
}

#move_history__text {
  font-size: 20px;
  text-align: left;
  margin: 16px;
  outline: none;
  resize: none;
  height: 170px;
  border: none;
  background-color: inherit;
  color: inherit;
}

#game_info__text {
  font-weight: bold;
  font-size: 24px;
  text-align: left;
  margin-top: 25px;
  color: var(--game_info__color);
}

.move_history__buttons {
  display: flex;
  margin-top: auto;
}

#button__show {
  margin: 0 16px 16px 16px;
  width: 118px;
  height: 60px;
  padding: 0;
  color: var(--move_history_button__color);
  border-width: 2px;
  border-color: var(--block__border__selected_color);
}

#button__copy {
  margin: 0 16px 16px auto;
  display: inline-flex;
  width: 60px;
  height: 60px;
  padding: 0;
  border-width: 2px;
  border-color: var(--block__border__selected_color);
  &::before {
    width: 28px;
    height: 37px;
    background-color: var(--move_history_button__color);
    mask-image: url(../../static/images/copy.svg);
    content: "";
    display: inline-flex;
    align-self: center;
    margin: 0 auto;
    transition: opacity 0.05s;
  }
}

#button__show:hover,
#button__copy:hover {
  border-color: var(--block__border__active_color);
  background-color: var(--move_history_button__background__selected_color);
}

#button__show:disabled,
#button__show:active,
#button__copy:disabled,
#button__copy:active {
  color: var(--move_history_button__active_color);
  border-color: var(--move_history_button__active_color);
  background-color: var(--move_history__background__color);
}

.interface__row {
  display: inline-block;
  width: 100%;
  height: fit-content;
  text-align: left;
}

.interface__bottom {
  margin-top: auto;
}

#button__end,
button {
  cursor: pointer;
  display: inline-block;
  margin-top: 25px;
  text-align: center;
  width: max-content;
  padding: 0 20px;
  height: 66px;
  font-weight: bold;
  font-size: 20px;
  border: 3px solid var(--button__border__color);
  border-radius: var(--chessboard__board__radius);
  color: var(--button__text__color);
  background-color: var(--move_history__background__color);
  transition: color 0.05s, border-color 0.05s, background-color 0.05s;
  &:hover {
    border-color: var(--button__border__selected_color);
    background-color: var(--button__background__selected_color);
  }
  &:disabled {
    cursor: default;
  }
  &:disabled,
  &:active {
    color: var(--button__border__active_color);
    border-color: var(--button__border__active_color);
    background-color: var(--move_history__background__color);
  }
}

#button__example,
#button__start {
  min-width: 140px;
  width: inherit;
  max-width: 186px;
}

#button__example,
#button__cancel {
  margin-right: 25px;
}

#button__cancel {
  width: 66px;
  height: 66px;
  padding: 0;
  text-align: left;
  vertical-align: top;
  display: inline-flex;
  &::before {
    width: 33px;
    height: 34px;
    background-color: var(--button__text__color);
    mask-image: url(../../static/images/cancel.svg);
    content: "";
    display: inline-flex;
    align-self: center;
    margin: 0 auto;
    transition: opacity 0.05s;
  }
}

#button__copy:disabled::before,
#button__copy:active::before,
#button__cancel:disabled::before,
#button__cancel:active::before {
  opacity: 25%;
}

@media screen and (max-width: 1080px) {
  .chessboard__interface {
    flex-flow: wrap;
    align-content: flex-start;
    margin: 0 auto 0 auto;
    width: 80vmin;
    max-width: unset;
  }

  .move_history {
    margin-top: 25px;
    width: 100%;
    order: 2;
  }

  #game_info__text {
    width: 100%;
    order: 1;
  }

  .interface__row {
    width: fit-content;
  }

  .interface__bottom {
    margin-top: 0;
    margin-left: auto;
  }
}
