@media screen and (max-width: 1080px) {
  .chessboard-interface {
    flex-flow: wrap;
    align-content: flex-start;
    margin: 0 auto 0 auto;
    width: 80vmin;
    max-width: unset;
  }
  .move_history {
    margin-top: 25px;
    width: 100%;
    order: 2;
  }
  #game_info-text {
    width: 100%;
    order: 1;
  }
  .interface-row {
    width: fit-content;
  }
  .interface-bottom {
    margin-top: 0;
    margin-left: auto;
  }
}
