@import "./All.module.scss";

.card__active,
.card__inactive {
  margin-top: 50px;
  padding-bottom: 25px;
  display: block;
  min-height: 150px;
  color: var(--block__description__inactive_color);
  border: 2px solid var(--block__border__inactive_color);
  border-radius: 40px;
  transition: color 0.2s, border-color 0.2s;
  overflow: hidden;
}

.card__active {
  color: var(--block__description__active_color);
  border-color: var(--block__border__active_color);
}

.card__inactive:hover {
  color: var(--block__description__selected_color);
  border-color: var(--block__border__selected_color);
}

.card__active:hover .card__inactive__image,
.card__inactive:hover .card__inactive__image {
  transform: scale(1.07);
}

.card__inactive__image_border {
  overflow: hidden;
  width: 101%;
  height: 240px;
}

.card__inactive__image {
  display: block;
  text-align: center;
  width: 100%;
  height: 240px;
  object-fit: cover;
  object-position: 0 -90px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-color: var(--block__border__active_color);
  transform: scale(1);
  transition: transform 0.2s, opacity 0.15s;
}

.card__inactive__image:hover {
  opacity: 70%;
}

.card__inactive__title {
  font-weight: 800;
  letter-spacing: 0.02em;
  font-size: 24px;
  margin: 25px 25px 12px 25px;
}

.card__inactive__subtitle {
  font-weight: bold;
  letter-spacing: 0.01em;
  font-size: 22px;
  margin: 40px 25px 12px 25px;
}

.card__inactive__description {
  font-size: 20px;
  margin: 0 25px 12px 25px;
}

.card__inactive__list {
  font-size: 20px;
  margin: 0 25px 12px 25px;
  text-indent: 10px;
  > li {
    margin-bottom: 12px;
    &::marker {
      content: ">";
    }
  }
}

.text__style__italic {
  font-style: italic;
}

.text__style__bold {
  font-weight: bold;
}
