footer {
  display: inline-block;
  width: 100%;
  height: fit-content;
  margin-top: 100px;
  padding: 50px 0;
  background: var(--footer__color);
}

.footer__title {
  font-style: italic;
  font-weight: bold;
  font-size: 32px;
  color: var(--footer__title__color);
  margin: 0 auto;
  width: 464px;
  text-align: center;
  padding-bottom: 32px;
  border: 0 solid var(--footer__separator__color);
  border-bottom-width: 2px;
}

.footer__rights {
  font-size: 20px;
  text-align: center;
  color: var(--footer__rights__color);
  margin: 32px auto 0 auto;
  width: fit-content;
}

.footer__link {
  text-decoration: none;
  color: var(--footer__link__color);
  &:hover {
    text-decoration-line: underline;
  }
  &:active {
    text-decoration-line: none;
    color: var(--footer__title__color);
  }
}
