@import "./All.module.scss";

header {
  display: inline-block;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: var(--main__background__transparent_color);
  backdrop-filter: blur(4px);
  z-index: 100;
}

.header__left {
  display: inline-block;
  margin: 16px 0 16px 25px;
  font-family: var(--title__font_family);
  font-size: 40px;
  color: var(--title__color);
}

.header__right {
  display: inline-block;
  position: absolute;
  margin: 25.5px 0 25.5px 0;
  width: 100%;
  right: 0;
  text-align: center;
}

.header__link {
  display: inline-block;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin: 0 45px 0 45px;
  text-decoration: none;
  color: var(--navigation__active_color);
  padding-bottom: 2px;
  background: 50% 100% / 0 2px linear-gradient(var(--navigation__active_color), var(--navigation__active_color))
    no-repeat;
  transition: background-size 0.2s, color 0.1s;
  &:hover {
    background-size: 100% 2px;
    background-origin: auto 40%;
  }
  &:active {
    color: var(--navigation__selected_color);
    background: 50% 100% / 0 2px linear-gradient(var(--navigation__selected_color), var(--navigation__selected_color))
      no-repeat;
  }
}

.header__link__current_page {
  color: var(--navigation__inactive_color);
  background: 50% 100% / 0 2px linear-gradient(var(--navigation__inactive_color), var(--navigation__inactive_color))
    no-repeat;
}

@media screen and (max-width: 1080px) {
  .header__right {
    text-align: right;
    margin-right: 16px;
  }

  .header__link {
    margin: 0 2% 0 2%;
  }
}
