main {
  text-align: center;
  display: table-row;
  height: 100%;
}

.main__content {
  font-size: 0;
  margin: 80px 50px 0 50px;
}

.main__left {
  display: inline-block;
  min-width: 350px;
  width: 35%;
  max-width: 1000px;
  text-align: left;
  margin-right: 50px;
}

.main__right {
  display: inline-block;
  min-width: 350px;
  width: 35%;
  max-width: 1000px;
  vertical-align: top;
  text-align: left;
}
