* {
  margin: 0;
  padding: 0;
  font-family: var(--main__font_family);
  font-style: normal;
  font-weight: normal;
}

::selection {
  color: var(--selection__color);
  background-color: var(--selection__background);
}

html,
body,
#root {
  background-color: var(--main__background__color);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

main {
  text-align: center;
  flex: 1 0 auto;
}
